source https://nuget.org/api/v2
storage:none

clitool dotnet-fable prerelease
nuget Fable.Core prerelease
nuget Fable.Import.Browser
nuget Fable.React
nuget Fulma prerelease
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Fable.Elmish.Debugger

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
