@import 'node_modules/bulma/bulma';

$fa-font-path: "./../../../node_modules/font-awesome/fonts/";
@import './../../../node_modules/font-awesome/scss/font-awesome';

html {
    overflow-y: hidden;
}

.page-content {
    display: flex;
    height: calc(100vh - #{$navbar-height});
    width: 100%;

    .horizontal-resize {
        width: 8px;
        margin-left: -4px;
        background-color: #505050;
        cursor: ew-resize;
        z-index: 1000;
    }

    .vertical-resize {
        height: 8px;
        margin-top: -4px;
        background-color: #505050;
        cursor: ns-resize;
        z-index: 1000;
    }

    .editor-container {
        height: 100%;
        background-color: #363636;
    }

    .output-container {
        height: 100%;

        .tabs {
            margin-bottom: 0;
        }

        .editor-output {
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
