@import 'node_modules/bulma/bulma';

html {
    overflow-y: hidden;
}

.page-content {
    display: flex;
    height: calc(100vh - #{$navbar-height});
    width: 100%;

    .editor-container {
        width: 50%;
        height: 100%;

        &.editor-frame {
            height: calc(100vh - #{$navbar-height});
        }

    }

    .output-container {
        width: 50%;
        height: 100%;

        &iframe {
            width: 100%;
            height: 100%;
        }
    }
}
